@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #__next {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
  }

  body {
    @apply bg-bg font-extralight text-text;
  }

  h1 {
    font-size: 36px; 
    line-height: 120%;
    @media (min-width: 1100px) { 
      font-size: 56px; 
      line-height: 120%;
    }
  }
  h2 {
    font-size: 32px; 
    line-height: 120%;
    @media (min-width: 1100px) { 
      font-size: 48px; 
      line-height: 120%;
    }
  }
  
  h3 {
    font-size: 32px; 
    line-height: 120%;
    @media (min-width: 1100px) { 
      font-size: 40px; 
      line-height: 120%;
    }
  }
  
  h4 {
    font-size: 24px; 
    line-height: 140%;
    @media (min-width: 1100px) { 
      font-size: 32px; 
      line-height: 130%;
    }
  }
  
  h5 {
    font-size: 20px; 
    line-height: 140%;
    @media (min-width: 1100px) { 
      font-size: 24px; 
      line-height: 140%;
    }  }
  
  h6 {
    font-size: 18px; 
    line-height: 140%;
    @media (min-width: 1100px) { 
      font-size: 20px; 
      line-height: 140%;
    }  }
  p {
    font-size: 18px;
    line-height: 150%; 
    @media (min-width: 1100px) { 
      font-size: 18px;
      line-height: 150%; 
    }
  }
}
@layer components {

.button {
  @apply flex flex-shrink bg-accent text-bg px-4 py-2 rounded-app shadow-app;
}

.button2 {
  @apply flex flex-shrink border bg-bg border-accent px-4 py-2 rounded-app shadow-app;
}

.my-content a {
  @apply text-accent;
}

.transition-scale {
  @apply hover:scale-110 transition-transform ease-in-out duration-300;
}

.transition-scale-small {
  @apply hover:scale-105 transition-transform ease-in-out duration-300;
}

.nav {
  z-index: 2;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.menu-toggle {
  cursor: pointer;
}

.nav-overlay {
  @apply bg-accent;
  position: fixed;
  z-index: -2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4em;
  transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.hamBox {
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease;
  padding: 1em;
}

.hamBox:hover {
  @apply bg-accent;
}

.hamBoxOpen {
  @apply bg-accent;
}

.hamBox:hover .lineTop,
.hamBox:hover .lineBottom {
  background: white;
}

.lineTop,
.lineBottom {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background: black;
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.lineTop {
  top: 1.1em;
}

.lineBottom {
  bottom: 1.1em;
}

.lineTop.spin {
  top: 1.3em;
  transform: rotate(135deg);
  background: #fff;
}

.lineBottom.spin {
  bottom: 1.3em;
  transform: rotate(225deg);
  background: #fff;
}

ul.nav-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

ul.nav-links li {
  list-style: none;
  position: relative;
}

ul.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  position: relative;
  top: 0;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-item-wrapper:after {
  @apply bg-accent;
  content: '';
  position: absolute;
  top: 120px;
  left: -10%;
  width: 120%;
  height: 100%;
  margin: 0 auto;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  ul.nav-links li a {
    font-size: 1.8em;
  }
}

.chevron-button {
  position: relative;
  top: 120px;
  transition: top 1s cubic-bezier(0.16, 1, 0.3, 1);
}

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
}

.header {
z-index: 1000;
}


.submenu-transition {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
}
.submenu-open {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.hero-title {
  text-shadow: 0 5px 10px #0004;
}

.hyphenate {
  hyphens: auto;
  word-wrap: break-word;
}
